# Databases
*.mdb
*.sqlite

# FMD Server config
config.json
config.yaml
config.yml

# binaries
fmdserver
findmydeviceserver
fmdDBViewer
cmd/fmd.db
cmd/config.yml2
cmd/__debug_bin4154895520
cmd/__debug_bin378745479

# Certs
*.crt
*.key
cmd/test/web
