Thumbs.db
/.app_is_ready
/messages.mo
/node_modules
/locale/**/*.po~
/plugins.local/*
/themes.local/*
/config.php
/feed-icons/*
/cache/*/*
/lock/*
/.vscode/settings.json
/vendor/**/.git
/.phpunit.result.cache
