# Code stuff
node_modules
.vscode

# Personalisation stuff
/src/site/pug/privacy.pug
/src/site/pug/announcements

# Database stuff
db/**/*.db*
users_export.json*
*.log
*.csv

# Test stuff
/coverage
/.nyc_output
/test/screenshots/diff
/test/screenshots/staging
/src/lib/utils/saved_requests/files
