parameters:
    level: 6
    tmpDir: .phpstan-tmp
    paths:
        - .
    scanFiles:
        - lib/gettext/gettext.inc.php
        - lib/gettext/streams.php
        - lib/floIcon.php
        - lib/jimIcon.php
        - lib/MiniTemplator.class.php
    excludePaths:
        - lib
        - node_modules
        - plugins.local
        - tests
        - vendor
        - rector.php
