//- Needs expiresMinutes, instancesURL

include includes/error.pug

- const numberFormat = new Intl.NumberFormat().format

doctype html
html
	head
		title= `Blocked | Bibliogram`
		include includes/head
	body.error-page
		+error(503, "Blocked by Instagram", true)
			| Instagram is refusing to provide data to this server. Try again later to see if the block has been lifted.
			| This error has been cached. The internal cache will expire in #{expiresMinutes} minutes.
			|
