//- Needs title, message, statusCode, ?explanation, withInstancesLink

include includes/error.pug

- const numberFormat = new Intl.NumberFormat().format

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title= `${title} | Bibliogram`
		link(rel="stylesheet" type="text/css" href="/static/css/main.css")
	body.error-page
		+error(statusCode, message, withInstancesLink)
			if explanation
				=explanation
