//- Needs title, post

include includes/post

doctype html
html
	head
		title= title
		include includes/head
		script(type="module" src="/static/js/post_overlay.js")
	body.post-page
		main
			+post(post, false)
