mixin error(statusCode, message, withInstancesLink)
	h1.code= statusCode
	p.message= message
	if block || withInstancesLink
		p.explanation
			if block
				block
			if withInstancesLink
				a(href="https://github.com/cloudrac3r/bibliogram/wiki/Instances") You could try browsing Bibliogram on another instance.
	a(href="/").back ↵ Return home
