.error-fragment
	.message Timeline loading blocked
	.explanation.
		Instagram is refusing to provide data to this server.
		This server will only be able to load the first page of timelines.
		This error is permanent.
		#[a(href="https://lists.sr.ht/~cadence/bibliogram-announce/%3C20201218014302.855fa8a816be2f19da2f56e3%40disroot.org%3E") See here for more information.]
		Or, you could try #[a(href="https://git.sr.ht/~cadence/bibliogram-docs/tree/master/docs/Instances.md") browsing Bibliogram on another instance.]
