.error-fragment
	.message Quota reached
	.explanation.
		Each person has a limited number of requests to Bibliogram.
		You have reached that limit. You cannot load any more data on this instance.
		Your quota will reset automatically after some time has passed.
		Or, you could try #[a(href="https://git.sr.ht/~cadence/bibliogram-docs/tree/master/docs/Instances.md") browsing Bibliogram on another instance.]
