//- Needs user, selectedTimeline, url, type

- const ll = lang.get(settings.language)

include ../includes/timeline_page.pug
include ../includes/next_page_button.pug

+timeline_page(page, pageIndex)

+next_page_button(user, selectedTimeline, url, type)
