.error-fragment
	.message Timeline loading blocked
	.explanation.
		Instagram blocked this server for requesting too many timeline pages.
		This block is not permanent, and will expire soon.
		Please wait a few minutes before trying again.
		Or, you could try #[a(href="https://git.sr.ht/~cadence/bibliogram-docs/tree/master/docs/Instances.md") browsing Bibliogram on another instance.]
