// Defined in scss file instead of sass because indented syntax does not have multiline maps
// https://github.com/sass/sass/issues/216

$theme: (
	"background-primary": #fff4e8,
	"background-timeline-profile": #fff,
	"background-timeline-loading": #c9c1b8,
	"background-post-distraction": #505156,
	"background-post-overlay": rgba(0, 0, 0, 0.7),
	"background-post-header": #b3b3b3,
	"background-post-pfp-loading": #999,
	"background-post-caption": #eee,
	"background-post-gallery": #262728,
	"background-post-loading": #3b3c3d,
	"background-power-primary": #bd4444,
	"background-power-secondary": #6a2222,
	"background-power-tertiary": #481717,
	"background-power-palest": #ffbebe,
	"background-power-pale": #ff7c7c,
	"background-power-quote": #191919,
	"background-go-input": #fff,
	"background-primary-quote": #ccc,
	"background-error-page": #191919,
	"background-alert": #282828,
	"background-banner-fail": #5f1111,
	"background-banner-success": #0b420b,
	"foreground-primary": #111,
	"foreground-header": #000,
	"foreground-power-primary": #fff,
	"foreground-power-secondary": #eee,
	"foreground-power-tertiary": #e2e2e2,
	"foreground-go-control": #111,
	"foreground-thumbnail-alt": #111,
	"foreground-timeline-page": #444,
	"foreground-post-header": #000,
	"foreground-gallery-alt": #eee,
	"foreground-error-code": #fff,
	"foreground-error-message": #ccc,
	"foreground-error-explanation": #bbb,
	"foreground-header-privacy": #f4f4f4,
	"foreground-alert": #eee,
	"foreground-primary-quote": #000,
	"foreground-banner": #fff,
	"link-primary": #085cae,
	"link-power": #ffb8b8,
	"link-error-page": #4a93d2,
	"link-hashtag": #127722,
	"edge-context-divider": 1px solid #333,
	"edge-thumbnail-hover": solid #111,
	"edge-go-control": 1px solid #333,
	"edge-power-divider": 1px solid #714141,
	"edge-alert": 2px solid #aaa,
	"shadow-down": 0px -2px 4px 4px rgba(0, 0, 0, 0.4),
	"shadow-right": -2px 0px 4px 4px rgba(0, 0, 0, 0.4),
	"shadow-down-inset": 0px 6px 4px -4px rgba(0, 0, 0, 0.4) inset,
);
