name: Gadgetbridge-osm build+release master

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  #schedule:
    # * is a special character in YAML so you have to quote this string
    #- cron:  '0 0 * * *'
  workflow_dispatch:

jobs:
  build_gadgetbridge_on_master:
    #needs: [get_commit_and_tag]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: 'schklom/Gadgetbridge-osm'
          ####ref: 'Gadgetbridge-osmand-experiments' # branch
          #ref: 'osmand-experiments' # branch
          ref: 'master' # branch
      - name: Update package lists
        run: sudo apt-get update
      # https://codeberg.org/Freeyourgadget/Gadgetbridge/wiki/Developer-Documentation
      - name: Setup JDK+Android
        run: sudo apt-get install openjdk-11-jdk git adb -y
      - name: Build apk
        run: ./gradlew --no-daemon assembleDebug
      - name: LS
        run: ls -AlhR app/build/outputs
      #- name: Delete previous release
      #  run: git push --delete origin Gadgetbridge-osmand-experiments-${{ needs.get_commit_and_tag.outputs.LOCALTAG }}
      
      - name: Set the version
        id: step_one
        run: |
          ver=$(git ls-remote --tags --sort="version:refname" https://codeberg.org/Freeyourgadget/Gadgetbridge | tail -n 1 | awk '{ print $2 }' | cut -d / -f 3)
          echo "version=${ver}" >> $GITHUB_ENV
      
      - name: Release apk
        uses: softprops/action-gh-release@v2
        with:
          ####tag_name: Gadgetbridge-osmand-experiments-${{ needs.get_commit_and_tag.outputs.REMOTETAG }}
          tag_name: "${{ env.version }}"
          body: "app-main-debug.apk is the Gadgetbridge file with osmand-experiments patches"
          #files: |
            # ./app/build/outputs/apk/app-debug.apk
          #files: ./app/build/outputs/apk/main/release/app-main-release-unsigned.apk
          files: ./app/build/outputs/apk/main/debug/app-main-debug.apk
          repository: "schklom/Gadgetbridge-osm"
          token: ${{ secrets.PAT_GITHUB_ACTION }}
