name: Sync+build+release Gadgetbridge-osmand-experiments

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 0 * * *'
  workflow_dispatch:

jobs:
  get_commit_and_tag:
    #if: ${{ false }}  # disable for now
    runs-on: ubuntu-latest
    # https://lannonbr.com/blog/2020-04-16-gh-actions-job-outputs
    outputs:
      REMOTETAG: ${{ steps.commits.outputs.SETREMOTETAG }}
      LOCALTAG: ${{ steps.commits.outputs.SETLOCALTAG }}
      REMOTECOMMIT: ${{ steps.commits.outputs.SETREMOTECOMMIT }}
      LOCALCOMMIT: ${{ steps.commits.outputs.SETLOCALCOMMIT }}
      RELEASETAGNAME: ${{ steps.commits.outputs.SETRELEASETAGNAME }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
        with:
          ref: 'Gadgetbridge-osmand-experiments' # branch
      - name: set local and remote latest release tag + commit id + tag name as environment variables
        id: commits
        # https://lannonbr.com/blog/2020-04-16-gh-actions-job-outputs
        run: |
          echo "::set-output name=SETREMOTETAG::$(git ls-remote --tags --sort=version:refname https://codeberg.org/Freeyourgadget/Gadgetbridge.git | tail -n 1 | awk '{ print $2 }')"
          echo "::set-output name=SETLOCALTAG::$(cat last_sync_with_original_repo_release_tag)"
          echo "::set-output name=SETREMOTECOMMIT::$(git ls-remote --heads https://codeberg.org/Freeyourgadget/Gadgetbridge.git | grep osm | awk '{ print $1 }')"
          echo "::set-output name=SETLOCALCOMMIT::$(cat last_sync_with_original_repo_commit_id)"
          echo "::set-output name=SETRELEASETAGNAME::$(git ls-remote --tags --sort=version:refname https://codeberg.org/Freeyourgadget/Gadgetbridge.git | tail -n 1 | awk '{ print $2 }' | cut -c 11-)"
  
  repo_sync:
    if: ${{ false }}
    needs: [get_commit_and_tag]
    runs-on: ubuntu-latest
    # https://lannonbr.com/blog/2020-04-16-gh-actions-job-outputs
    #if: needs.get_commit_and_tag.outputs.LOCALTAG != needs.get_commit_and_tag.outputs.REMOTETAG && needs.get_commit_and_tag.outputs.LOCALCOMMIT != needs.get_commit_and_tag.outputs.REMOTECOMMIT
    steps:
      - name: repo-sync
        uses: wei/git-sync@v3
        with:
          source_repo: "https://codeberg.org/Freeyourgadget/Gadgetbridge.git"
          source_branch: "osmand-experiments"
          destination_repo: "git@github.com:schklom/Mirror-workflows.git"
          destination_branch: "Gadgetbridge-osmand-experiments"
          destination_ssh_private_key: ${{ secrets.GITSYNCACTION }}
      - name: Checkout
        uses: actions/checkout@v2.4.0
        with:
          ref: 'Gadgetbridge-osmand-experiments' # branch
      - name: get most recent release tag on original repo, for next comparison on sync
        run: git ls-remote --tags --sort=version:refname https://codeberg.org/Freeyourgadget/Gadgetbridge.git | tail -n 1 | awk '{ print $2 }' > last_sync_with_original_repo_release_tag
      - name: Commit and push the change
        uses: stefanzweifel/git-auto-commit-action@v4.13.1
        with:
          commit_message: Add last_sync_with_original_repo_release_tag
      - name: get most recent commit on OSM branch, for next comparison on sync
        run: git ls-remote --heads https://codeberg.org/Freeyourgadget/Gadgetbridge.git | grep osm | awk '{ print $1 }' > last_sync_with_original_repo_commit_id
      - name: Commit and push the change
        uses: stefanzweifel/git-auto-commit-action@v4.13.1
        with:
          commit_message: Add last_sync_with_original_repo_commit_id

  build_gadgetbridge:
    #needs: [repo_sync]
    needs: [get_commit_and_tag]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
        with:
          #repository: 'schklom/Gadgetbridge-osmand-experiments'
          ref: 'Gadgetbridge-osmand-experiments' # branch
      - name: Pull changes
        run: git pull
        if: ${{ false }}
      # https://codeberg.org/Freeyourgadget/Gadgetbridge/wiki/Developer-Documentation
      - name: Setup JDK+Android
        run: sudo apt-get install openjdk-11-jdk git adb -y
        if: ${{ false }}
      - name: Build apk
        run: ./gradlew --no-daemon assembleDebug
        if: ${{ false }}
      - name: Release apk
        uses: softprops/action-gh-release@v1
        #if: ${{ false }}
        with:
          tag_name: Gadgetbridge-osmand-experiments-${{ needs.get_commit_and_tag.outputs.RELEASETAGNAME }}
          #files: ./app/build/outputs/apk/app-debug.apk
          #files: ./app/build/outputs/apk/debug/app-debug.apk
          files: LICENSE
