name: Sync+build+push Mango

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 0 * * *'
  workflow_dispatch:

jobs:
  get_commits:
    runs-on: ubuntu-latest
    # https://lannonbr.com/blog/2020-04-16-gh-actions-job-outputs
    outputs:
      LOCAL: ${{ steps.commits.outputs.SETLOCAL }}
      REMOTE: ${{ steps.commits.outputs.SETREMOTE }} 
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: 'Mango' # branch
      - name: set local and remote latest commit as environment variables
        id: commits
        # https://lannonbr.com/blog/2020-04-16-gh-actions-job-outputs
        run: |
          echo "::set-output name=SETREMOTE::$(git ls-remote https://github.com/hkalexling/Mango.git HEAD | awk '{ print $1 }')"
          echo "::set-output name=SETLOCAL::$(cat last_sync_with_original_repo_commit_id)"
  
  repo_sync:
    needs: [get_commits]
    runs-on: ubuntu-latest
    # https://lannonbr.com/blog/2020-04-16-gh-actions-job-outputs
    if: needs.get_commits.outputs.LOCAL != needs.get_commits.outputs.REMOTE
    steps:
      - name: repo-sync
        uses: wei/git-sync@v3
        with:
          source_repo: "https://github.com/hkalexling/Mango.git"
          source_branch: "master"
          destination_repo: "git@github.com:schklom/Mirror-workflows.git"
          destination_branch: "Mango"
          ssh_private_key: ${{ secrets.GITSYNCACTION }}
        # uses: repo-sync/github-sync@v2
        # with:
          # source_repo: "https://github.com/hkalexling/Mango.git"
          # source_branch: "master"
          # destination_branch: "Mango"
          # github_token: ${{ secrets.REPO_SYNC_GITHUB_SYNC_PERSONAL_ACCESS_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: 'Mango' # branch
      - name: get most recent commit id on original repo, for next comparison on sync
        run: git ls-remote https://github.com/hkalexling/Mango.git HEAD | awk '{ print $1 }' > last_sync_with_original_repo_commit_id
      - name: Commit and push the change
        uses: stefanzweifel/git-auto-commit-action@v4.13.1
        with:
          commit_message: Add last_sync_with_original_repo_commit_id

  build_push_arm32v7:
    needs: [repo_sync]
    #needs: [get_commits]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          #repository: 'schklom/Mango'
          ref: 'Mango' # branch
      # https://github.com/hkalexling/Mango/wiki/Platform-Support#arm32v7arm64v8
      - name: Get .o file
        run: curl -Lo mango-arm32v7.o $(curl https://api.github.com/repos/hkalexling/Mango/releases/latest | grep "browser_download_url" | awk '{ print $2 }' | grep arm32 | tr -d '\" ')
      - name: Commit and push the change
        uses: stefanzweifel/git-auto-commit-action@v4.13.1
        with:
          commit_message: Add mango-arm32v7.o
      # https://github.com/docker/setup-qemu-action#usage
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1.2.0
        #with:
          #image: tonistiigi/binfmt:latest
          #platforms: all
          #platforms: arm/v7
      # https://github.com/marketplace/actions/docker-setup-buildx
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1.6.0
        #with:
          #install: true
      #- name: Available platforms
      #  run: echo ${{ steps.buildx.outputs.platforms }}
      # https://github.com/docker/login-action#docker-hub
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      # https://github.com/docker/build-push-action#multi-platform-image
      - name: Build and push Mango
        uses: docker/build-push-action@v2.9.0
        with:
          context: .
          file: ./Dockerfile.arm32v7
          #platforms: linux/amd64,linux/arm64,linux/riscv64,linux/ppc64le,linux/s390x,linux/386,linux/mips64le,linux/mips64,linux/arm/v7,linux/arm/v6
          platforms: linux/arm/v7
          pull: true
          push: true
          tags: |
            schklom/mango:arm32v7
  
  build_push_arm64v8:
    needs: [repo_sync]
    #needs: [get_commits]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          #repository: 'schklom/Mango'
          ref: 'Mango' # branch
      # https://github.com/hkalexling/Mango/wiki/Platform-Support#arm32v7arm64v8
      - name: Get .o file
        run: curl -Lo mango-arm64v8.o $(curl https://api.github.com/repos/hkalexling/Mango/releases/latest | grep "browser_download_url" | awk '{ print $2 }' | grep arm64 | tr -d '\" ')
      - name: Commit and push the change
        uses: stefanzweifel/git-auto-commit-action@v4.13.1
        with:
          commit_message: Add mango-arm64v8.o
      # https://github.com/docker/setup-qemu-action#usage
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1.2.0
        #with:
          #image: tonistiigi/binfmt:latest
          #platforms: all
          #platforms: arm/v7
      # https://github.com/marketplace/actions/docker-setup-buildx
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1.6.0
        #with:
          #install: true
      #- name: Available platforms
      #  run: echo ${{ steps.buildx.outputs.platforms }}
      # https://github.com/docker/login-action#docker-hub
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      # https://github.com/docker/build-push-action#multi-platform-image
      - name: Build and push Mango
        uses: docker/build-push-action@v2.9.0
        with:
          context: .
          file: ./Dockerfile.arm64v8
          #platforms: linux/amd64,linux/arm64,linux/riscv64,linux/ppc64le,linux/s390x,linux/386,linux/mips64le,linux/mips64,linux/arm/v7,linux/arm/v6
          platforms: linux/arm64
          pull: true
          push: true
          tags: |
            schklom/mango:arm64v8
