name: Sync+build+push FindMyDeviceServer

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 0 * * *'
  workflow_dispatch:

jobs:
  get_commits:
    runs-on: ubuntu-latest
    # https://lannonbr.com/blog/2020-04-16-gh-actions-job-outputs
    outputs:
      LOCAL: ${{ steps.commits.outputs.SETLOCAL }}
      REMOTE: ${{ steps.commits.outputs.SETREMOTE }} 
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
        with:
          ref: 'FindMyDeviceServer' # branch
      - name: set local and remote latest commit as environment variables
        id: commits
        # https://lannonbr.com/blog/2020-04-16-gh-actions-job-outputs
        # echo "::set-output name=SETREMOTE::$(git ls-remote https://gitlab.com/Nulide/findmydeviceserver.git HEAD | awk '{ print $1 }')"
        run: |
          echo "::set-output name=SETREMOTE::$(git ls-remote https://gitlab.com/Nulide/findmydeviceserver.git HEAD | awk '{ print $1 }')"
          echo "::set-output name=SETLOCAL::$(cat last_sync_with_original_repo_commit_id)"
  
  repo_sync:
    needs: [get_commits]
    runs-on: ubuntu-latest
    # https://lannonbr.com/blog/2020-04-16-gh-actions-job-outputs
    if: needs.get_commits.outputs.LOCAL != needs.get_commits.outputs.REMOTE
    steps:
      - name: repo-sync
        uses: wei/git-sync@v3
        with:
          source_repo: "git@gitlab.com:Nulide/findmydeviceserver.git"
          source_branch: "master"
          destination_repo: "git@github.com:schklom/Mirror-workflows.git"
          destination_branch: "FindMyDeviceServer"
          source_ssh_private_key: ${{ secrets.GITLAB_SSH_KEY }}
          destination_ssh_private_key: ${{ secrets.GITSYNCACTION }}
        # uses: repo-sync/github-sync@v2
        # with:
          # source_repo: "https://gitlab.com/Nulide/findmydeviceserver.git"
          # source_branch: "master"
          # destination_branch: "FindMyDeviceServer"
          # github_token: ${{ secrets.REPO_SYNC_GITHUB_SYNC_PERSONAL_ACCESS_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v2.4.0
        with:
          ref: 'FindMyDeviceServer' # branch
      - name: get most recent commit id on original repo, for next comparison on sync
        run: git ls-remote https://gitlab.com/Nulide/findmydeviceserver.git HEAD | awk '{ print $1 }' > last_sync_with_original_repo_commit_id
      - name: Commit and push the change
        uses: stefanzweifel/git-auto-commit-action@v4.13.1
        with:
          commit_message: Add last_sync_with_original_repo_commit_id

  build_push_findmydeviceserver:
    needs: [repo_sync]
    #needs: [get_commits]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
        with:
          #repository: 'schklom/FindMyDeviceServer'
          ref: 'FindMyDeviceServer_Dockerfile' # branch
      # https://github.com/docker/setup-qemu-action#usage
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1.2.0
        #with:
          #image: tonistiigi/binfmt:latest
          #platforms: all
          #platforms: arm/v7
      # https://github.com/marketplace/actions/docker-setup-buildx
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1.6.0
        #with:
          #install: true
      #- name: Available platforms
      #  run: echo ${{ steps.buildx.outputs.platforms }}
      # https://github.com/docker/login-action#docker-hub
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      # https://github.com/docker/build-push-action#multi-platform-image
      - name: Build and push FindMyDeviceServer
        uses: docker/build-push-action@v2.9.0
        with:
          context: ./
          file: ./Dockerfile
          #platforms: linux/386,linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64,linux/ppc64le,linux/s390x
          #platforms: linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64
          platforms: linux/arm64
          pull: true
          push: true
          tags: |
            schklom/findmydeviceserver:latest
