name: Sync+Build+Release tt-rss-android

on:
  push:
    paths:
      - '.github/workflows/Sync+Build+Release tt-rss-android.yaml'
    branches:
      - main
  
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 0 * * *'

  workflow_dispatch:

jobs:

  get_commits:
    runs-on: ubuntu-latest
    # https://lannonbr.com/blog/2020-04-16-gh-actions-job-outputs
    outputs:
      LOCAL: ${{ steps.commits.outputs.SETLOCAL }}
      REMOTE: ${{ steps.commits.outputs.SETREMOTE }} 
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: 'schklom/tt-rss-android'
          ref: 'master' # branch
      - name: set local and remote latest commit as environment variables
        id: commits
        # https://docs.github.com/en/actions/using-jobs/defining-outputs-for-jobs
        run: |
          echo "SETREMOTE=$(git ls-remote https://github.com/tt-rss/tt-rss-android.git HEAD | awk '{ print $1 }')" | tee -a $GITHUB_OUTPUT
          echo "SETLOCAL=$(git ls-remote https://github.com/schklom/tt-rss-android HEAD | awk '{ print $1 }' | head -n 1)" | tee -a $GITHUB_OUTPUT

  repo_sync_master:
    needs: [get_commits]
    runs-on: ubuntu-latest
    # https://lannonbr.com/blog/2020-04-16-gh-actions-job-outputs
    if: needs.get_commits.outputs.LOCAL != needs.get_commits.outputs.REMOTE || github.event_name == 'workflow_dispatch' || github.event_name == 'push'
    steps:
      - name: repo-sync master branch
        uses: wei/git-sync@v3
        with:
          source_repo: "https://github.com/tt-rss/tt-rss-android.git"
          source_branch: "refs/remotes/source/*"
          #source_branch: "master"
          ####destination_repo: "git@github.com:schklom/Mirror-workflows.git"
          destination_repo: "git@github.com:schklom/tt-rss-android.git"
          ####destination_branch: "Gadgetbridge-osmand-experiments"
          destination_branch: "refs/heads/*"
          #source_branch: "refs/tags/*"
          #destination_branch: "refs/tags/*"
          destination_ssh_private_key: ${{ secrets.GITSYNCACTION }}

  build_ttrss_on_master:
    needs: [repo_sync_master]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: 'schklom/tt-rss-android'
          ####ref: 'Gadgetbridge-osmand-experiments' # branch
          #ref: 'osmand-experiments' # branch
          ref: 'master' # branch

      - name: Gradlew executable
        run: chmod +x gradlew

      - name: Set-up Java
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
  
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
  
      - name: Execute Gradle build
        run: ./gradlew --no-daemon --refresh-dependencies assembleRelease

      - name: Find directory name to apk file
        run: |
          # -print -quit -> print the first result and exit
          apk_folder="$(dirname $(find . -name "*.apk" -type f -print -quit))"
          echo "apk_folder=${apk_folder}" | tee -a $GITHUB_ENV
          # should be org.fox.ttrss/build/outputs/apk/debug
      
      - name: Sign APK
        id: sign_apk
        uses: ilharp/sign-android-release@v2
        with:
          releaseDir: ${{ env.apk_folder }}
          signingKey: ${{ secrets.APK_KEYSTORE_FILE_BASE64 }}
          keyAlias: ${{ secrets.APK_KEYSTORE_ALIAS }}
          keyStorePassword: ${{ secrets.APK_KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.APK_KEYSTORE_PASSWORD }}
          # https://github.com/ilharp/sign-android-release/issues/24#issuecomment-2414013354
          buildToolsVersion: 35.0.0
      
      - name: Set the version
        id: step_one
        run: |
          ver=$(git ls-remote https://github.com/tt-rss/tt-rss-android.git | grep master | awk '{ print $1 }')
          # Truncate commit id to 8 characters
          ver=${ver:0:8}
          echo "version=${ver}" | tee -a $GITHUB_ENV
      
      - name: Release apk
        uses: softprops/action-gh-release@v2
        with:
          ####tag_name: Gadgetbridge-osmand-experiments-${{ needs.get_commit_and_tag.outputs.REMOTETAG }}
          tag_name: "${{ env.version }}"
          #files: |
            # ./app/build/outputs/apk/app-debug.apk
          #files: ./app/build/outputs/apk/main/release/app-main-release-unsigned.apk
          #files: ./app/build/outputs/apk/main/debug/app-main-debug.apk
          files: $ANDROID_SIGNED_FILE
          repository: "schklom/tt-rss-android"
          token: ${{ secrets.PAT_GITHUB_ACTION }}

