# This is a basic workflow to help you get started with Actions

name: TEST

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  ABC: abc
  DEF: $ABC
  II: $GITHUB_WORKSPACE

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v5

      - name: ls
        run: ls -alh

      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: 'main' # branch

      - name: ls /mnt
        run: ls -alh /mnt
      
      - name: fill /mnt
        run: |
          mkdir -p /mnt/aa/bb
          ls -alhr /mnt

      - name: pwd
        run: pwd
        
      - name: export test
        run: |
          aa=$(pwd)/abc
          echo "$aa"
      
      - name: env complete
        run: env
